<header class="container">
  <h2 id="logo">GENIE</h2>
  <ul class="nav nav-underline">
    <li class="nav-item">
      <a class="nav-link"  onclick="addActiveClass(this)" aria-current="page" href="#">ブログ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" onclick="addActiveClass(this)" href="#">施設紹介</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" onclick="addActiveClass(this)" href="#">ログイン</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" onclick="addActiveClass(this)" href="#">新規登録</a>
    </li>
  </ul>
</header>